# User Experience Analytics

In [1]:
import os
import sys
# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

In [2]:
# Import necessary libraries
import matplotlib.pyplot as plt
import seaborn as sn
import pandas as pd
import numpy as np

In [3]:
# Load the cleaned xdr data into a DataFrame
data = pd.read_csv('../Data/data/xdr_cleaned.csv', index_col=0)

Task 3. 1 - Aggregate, per customer, the following information (treat missing & outliers by replacing with the mean or the mode of the corresponding variable):

- Average TCP retransmission
- Average RTT
- Handset type
- Average throughput

In [ ]:
data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,4/25/2019 14:35,662.0,241983.25,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.00,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,4/25/2019 8:15,606.0,241983.25,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.00,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,49.0,4/25/2019 11:58,652.0,241983.25,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,833230.75,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,4/25/2019 7:36,171.0,241983.25,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1101487.5,799538153.0,10849722.00,749039933.0,12797283.0,43324218.0,834328852.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,4/25/2019 10:40,947.0,241983.25,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,1101487.5,527707248.0,3529801.00,550709500.0,13910322.0,38542814.0,569138589.0

In [ ]:
# Import the module class from scripts module
from experience_analytics import ExperienceAnalytics

# Create instance of the class object
ea = ExperienceAnalytics(data)

In [ ]:
# Aggregate user experience
df = ea.aggregate_user_experience()
# Display result
df.head()

,MSISDN/Number,Handset Type,TCP Retransmission,RTT,Throughput
0,3.361370e+10,Samsung Galaxy A5 Sm-A520F,1.555536e+07,38.722068,4274.587591
1,3.361370e+10,Apple iPhone 8 (A1905),1.325977e+07,39.000000,13027.750000
2,3.361370e+10,undefined,2.180247e+07,29.250000,85.000000
3,3.361370e+10,Apple iPhone Se (A1723),2.180247e+07,12.000000,40.000000
4,3.361370e+10,Apple iPhone 7 (A1778),2.180247e+07,19.500000,48.500000

Task 3.2 - Compute & list 10 of the top, bottom, and most frequent:

- TCP values in the dataset. 
- RTT values in the dataset.
- Throughput values in the dataset.

columns = df.columns.tolist()[2:]
columns

In [ ]:
for column in df.columns:
    results = analytics.get_top_bottom_most_frequent(column)
    print(f"Results for {column}:")
    print("Top 10:", results['Top 10'])
    print("Bottom 10:", results['Bottom 10'])
    print("Most Frequent:", results['Most Frequent'])
    print()