## User Satsfaction Score Prediction

In [1]:
import os
import sys
# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

In [2]:
import pandas as pd

In [3]:
# Load the xdr_cleaned dataset
data = pd.read_csv('../Data/data/xdr_cleaned.csv')

In [4]:
# Import modules
from user_engagement_analysis import UserEngagementAnalysis
from experience_analytics import ExperienceAnalytics
from satisfaction_analytics import UserSatisfactionAnalytics

In [5]:
# Create instances
engagement_analysis = UserEngagementAnalysis(data)
experience_analysis = ExperienceAnalytics(data)
satisfaction_analysis = UserSatisfactionAnalysis(
    engagement_analysis.metrics,
    experience_analysis.aggregate_user_experience())

In [6]:
# Normalize and cluster
# Aggregate metrics
engagement_analysis.aggregate_metrics()
engagement_analysis.metrics.head()
engagement_analysis.normalize_and_cluster(n_clusters=3)
engagement_analysis.metrics

,MSISDN/Number,total_session_duration,total_download_traffic,total_upload_traffic,sessions_frequency,cluster
0,3.361370e+10,6.849414e+08,3.153241e+12,2.853935e+11,6946,1
1,3.361370e+10,5.264600e+04,7.300408e+08,8.586766e+07,2,0
2,3.361370e+10,1.312920e+05,7.455622e+07,5.645270e+07,1,0
3,3.361370e+10,2.419832e+05,4.891984e+08,3.382247e+07,1,0
4,3.361370e+10,5.268900e+04,1.145111e+09,7.409466e+07,2,0
...,...,...,...,...,...,...
89326,3.376818e+10,3.428492e+05,1.666699e+09,1.094569e+08,2,2
89327,3.376818e+10,1.118910e+05,5.046012e+08,4.646445e+07,1,0
89328,3.376819e+10,1.023270e+05,9.011880e+07,4.947339e+07,1,0
89329,3.376819e+10,1.358880e+05,4.343825e+08,8.219134e+07,2,0
89330,3.376819e+10,6.810001e+08,3.145834e+12,2.850879e+11,6945,1

In [7]:
engagement_analysis.cluster_centers

,sessions_frequency,total_session_duration,total_download_traffic,total_upload_traffic,cluster
0,1.121683,1.022160e+05,4.890766e+08,4.582094e+07,0
1,6945.500000,6.829708e+08,3.149537e+12,2.852407e+11,1
2,2.722654,3.116595e+05,1.333648e+09,1.133595e+08,2

In [8]:
experience_clusters

NameError: name 'experience_clusters' is not defined

In [ ]:
engagement_clusters.metrics

AttributeError: 'NoneType' object has no attribute 'metrics'

In [ ]:
df= experience_analysis.k_means_clustering(['TCP Retransmission', 'RTT', 'Throughput'])[0]

In [ ]:
df

,MSISDN/Number,Handset Type,TCP Retransmission,RTT,Throughput,Cluster
0,3.361370e+10,Samsung Galaxy A5 Sm-A520F,1.552605e+07,38.198407,4269.746725,0
1,3.361370e+10,Apple iPhone 8 (A1905),1.325977e+07,39.000000,13027.750000,1
2,3.361370e+10,Apple iPhone Se (A1723),2.180247e+07,12.000000,40.000000,0
3,3.361370e+10,Apple iPhone 7 (A1778),2.180247e+07,19.500000,48.500000,0
4,3.361370e+10,Apple iPhone 6 (A1586),1.116268e+07,28.250000,10177.500000,1
...,...,...,...,...,...,...
89326,3.376818e+10,Samsung Galaxy J5 (Sm-J530),2.180247e+07,61.795907,44.250000,2
89327,3.376818e+10,Apple iPhone 6 Plus (A1524),2.180247e+07,14.500000,34.000000,0
89328,3.376819e+10,Apple iPhone 6S (A1688),2.180247e+07,25.000000,50.000000,0
89329,3.376819e+10,Huawei Honor 9 Lite,1.128969e+07,35.750000,10604.750000,1
89330,3.376819e+10,Huawei P20 Pro,1.565362e+07,36.981653,5426.368683,0

In [ ]:

# Calculate scores
# engagement_clusters = engagement_analysis.normalize_and_cluster()
df, experience_clusters = experience_analysis.k_means_clustering(['TCP Retransmission', 'RTT', 'Throughput'])[1]
satisfaction_analysis.calculate_scores(engagement_analysis.metrics, experience_clusters)

# Report top 10 satisfied customers
top_10 = satisfaction_analysis.top_10_satisfied_customers()
print(top_10)

# Build regression model
model = satisfaction_analysis.build_regression_model()

# Apply K-means clustering on scores
cluster_summary = satisfaction_analysis.k_means_on_scores()
print(cluster_summary)

# Export to MySQL
#satisfaction_analysis.export_to_mysql(host='localhost', database='telecom', user='root', password='password')

# Track model deployment
satisfaction_analysis.model_deployment_tracking()

TypeError: 'NoneType' object is not subscriptable